<style>
.container {
    margin-top: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns:  auto auto auto;
  grid-gap: 35px;
  padding: 10px;
}

.grid-container > div {
  background-color: #3331311f;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item {
  border-radius: 50px;
  height: 82px;
}
.item:hover {
  background-color: orange;

}


.center {
  font-size: 15px;
  margin-top: -31px;
}


h1, h4 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

</style>


<div class="container">
  <h1>Universities in Germany</h1>
  <h4>Click on these Links to visit Universities and find more Information :</h4>
</div><br>


<div class="grid-container">

  <div class="item" style="background-color:black"><a href="https://www.fu-berlin.de/en/index.html" style="color: white"><div class="center">Berlin University</div></a></div>

  <div class="item" style="background-color: red"><a href="https://www.uni-koeln.de/" style="color: white"><div class="center"> Cologne University</div></a></div>

  <div class="item" style="background-color: gold" ><a href="https://www.hochschule-bochum.de/en/" style="color: black"><div class="center">Bochum University </div></a></div>

</div> <br>

<div class="grid-container">

  <div class="item" style="background-color:black"><a href="https://www.mastersportal.com/universities/218/ludwig-maximilians-university-munich.html" style="color: white"><div class="center">Ludwig-Maximilians</div></a></div>

  <div class="item" style="background-color: red"><a href="https://www.mastersportal.com/universities/41/technical-university-of-munich.html" style="color: white"><div class="center"> Technical University </div></a></div>

  <div class="item" style="background-color: gold" ><a href="https://www.mastersportal.com/universities/49/university-of-heidelberg.html" style="color: black"><div class="center">Heidelberg University  </div></a></div>
</div> <br>
<div class="grid-container">

  <div class="item" style="background-color:black"><a href="https://www.mastersportal.com/universities/259/university-of-freiburg.html" style="color: white"><div class="center">  Freiburg University</div></a></div>

  <div class="item" style="background-color: red"><a href="https://www.mastersportal.com/universities/44/humboldt-university-berlin.html" style="color: white"><div class="center"> Humboldt University </div></a></div>

  <div class="item" style="background-color: gold" ><a href="https://www.mastersportal.com/universities/45/university-of-bonn.html" style="color: black"><div class="center">Bonn University  </div></a></div>
</div> <br>
<div class="grid-container">

  <div class="item" style="background-color:black"><a href="https://www.mastersportal.com/universities/278/tu-berlin.html" style="color: white"><div class="center">Technische Berlin</div></a></div>

  <div class="item" style="background-color: red"><a href="https://www.mastersportal.com/universities/32/university-of-hamburg.html" style="color: white"><div class="center" >   Hamburg University</div></a></div>

  <div class="item" style="background-color: gold" ><a href="https://www.mastersportal.com/universities/527/bielefeld-university.html" style="color: black"><div class="center">Biele University </div></a></div>
</div>

<br>
<div class="grid-container">

  <div class="item" style="background-color:black"><a href="https://www.mastersportal.com/universities/57/university-of-mannheim.html" style="color: white"><div class="center">Mannheim University  </div></a></div>

  <div class="item" style="background-color: red"><a href="https://www.mastersportal.com/universities/61/ruhr-university-of-bochum.html" style="color: white"><div class="center"> Ruhr Bochum University </div></a></div>

  <div class="item" style="background-color: gold" ><a href="https://www.mastersportal.com/universities/12070/university-of-munster.html" style="color: black"><div class="center">  Münster University</div></a></div>
</div>
