
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 7px;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card:hover {
  background-color: #eabd84;
}
img {
  height: 260px;
  width: 100%;
  border-radius: 15%;
}

  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  h5 {
    text-align: right;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: right;
  }
  ul li {
    text-align: right;
    list-style-type: none;
  }
  .grid-container {
  display: grid;
  grid-gap: 20px;
  width: 100%;
  padding: 10px;
}
.grid-item {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-align: left;
  background-color: #f5f5f5;
  border-radius: 40px;
}



.ul li  {
  text-align: center;
  display: inline-block;
  margin-left: 40px;
}



a:hover {
  color: red;
}

a .btn{
   margin: 0 auto;
  display: block;
  width: 130px;
}

a .btn:hover {
  background-color: grey;
}
.hos li {
  text-align: center;
}
.right li {
  text-align: left;
}
p {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
</style>



<div class="container-2">
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.visitberlin.de/en/boat-tours-berlin">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585746756/kon-karampelas-YXXueLMlz0w-unsplash_ecgpic.jpg "/></a>
      <h3>Boat tours Berlin</h3>
      <a href="https://www.visitberlin.de/en/boat-tours-berlin"><button class="btn btn-primary">Book Now</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www.berlin-city-tour.de/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585679643/tour_y1x2tq.jpg"/></a>
      <h3>Sightseeing in Berlin</h3>
       <a href="https://www.berlin-city-tour.de/"><button class="btn btn-primary">Book Now</button></a>
    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.skyscanner.de/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585748181/tim-dennert-Os_QyBXfaEY-unsplash_ich8ix.jpg"/></a>
      <h3>Cheap Flights </h3>
      <a href="https://www.skyscanner.de/"><button class="btn btn-primary">Book Now</button></a>
    </div>
  </div>

    <div class="column">
    <div class="card"><a href="https://www.booking.com/hotel/de/hotelanderoper.en-gb.html?aid=356980;label=gog235jc-1DCAsoO0IOaG90ZWxhbmRlcm9wZXJIM1gDaDuIAQGYAQm4AQfIAQzYAQPoAQGIAgGoAgO4Aue3kvQFwAIB;sid=1c42c63aae3c8ab7deff349fda2afca9;dist=0&keep_landing=1&sb_price_type=total&type=total&#availability_target">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585749169/66643785_mptaqh.jpg"/></a>
      <h3>Hotels  </h3>
      <a href="https://www.booking.com/hotel/de/hotelanderoper.en-gb.html?aid=356980;label=gog235jc-1DCAsoO0IOaG90ZWxhbmRlcm9wZXJIM1gDaDuIAQGYAQm4AQfIAQzYAQPoAQGIAgGoAgO4Aue3kvQFwAIB;sid=1c42c63aae3c8ab7deff349fda2afca9;dist=0&keep_landing=1&sb_price_type=total&type=total&#availability_target"><button class="btn btn-primary">Book Now</button></a>
    </div>
  </div>
</div>
  <br>
  <br>

<div class="container-2">
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.berlin.de/en/attractions-and-sights/3560266-3104052-brandenburg-gate.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585743624/claudio-schwarz-purzlbaum-TScGhJM716g-unsplash_xnekad.jpg"/></a>
      <h3>1- Brandenburger Tor</h3>
      <p>Brandenburg Gate is Berlin's most famous landmark. A symbol of Berlin and German division during the Cold War, it is now a national symbol of peace and unity.</p><br>

      <a href="https://www.berlin.de/en/attractions-and-sights/3560266-3104052-brandenburg-gate.en.html"><button class=" btn btn-primary">See more</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3560109-3104052-alexanderplatz.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585743894/suganth-Ru07aoiIo0I-unsplash_wzbco8.jpg"/></a>
      <h3>Alexanderplatz</h3>
      <p>Alexanderplatz is a central square and traffic junction in Berlin's Mitte district. One of city's the most visited squares, Alexanderplatz is the site of many attractions and sights in Berlin.</p><br>
      <a href="https://www.berlin.de/en/attractions-and-sights/3560109-3104052-alexanderplatz.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3559744-3104052-berlin-cathedral.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585744132/julia-solonina-teGUtvdTiQ8-unsplash_ljcwtw.jpg"/></a>
      <h3>Berlin Cathedral</h3>
      <p>The Protestant Berlin Cathedral on Museum Island in the Mitte district is Berlin's largest church and one of the major sights in the city's centre.

</p><br><br>
      <a href="https://www.berlin.de/en/attractions-and-sights/3559744-3104052-berlin-cathedral.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3560059-3104052-checkpoint-charlie.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585744365/yeo-khee-O00X5jVyfZM-unsplash_tyhgv8.jpg"/></a>
      <h3>Checkpoint Charlie</h3>
      <p>Checkpoint Charlie was the best-known border crossing between East and West Berlin during the Cold War. At the height of the Berlin Crisis in 1961 U.S. and Soviet tanks faced each other here.</p>
      <a href="https://www.berlin.de/en/attractions-and-sights/3560059-3104052-checkpoint-charlie.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

</div> <br><br>
<div class="container-2">
  <div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.berlin.de/en/attractions-and-sights/3559756-3104052-east-side-gallery.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585744690/max-letek-trpRY6AbAF8-unsplash_i8a5gw.jpg"/></a>
      <h3>East Side Gallery</h3>
      <p>The East Side Gallery, one of Berlin's most popular sights, is a former section of the Berlin Wall. After the Fall of the Wall, artists have turned it into the largest open-air gallery in the world with over one hundred paintings.</p>

      <a href="https://www.berlin.de/en/attractions-and-sights/3559756-3104052-east-side-gallery.en.html"><button class=" btn btn-primary">See more</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3560277-3104052-gendarmenmarkt.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585744827/habib-ayoade-wuJt2b-c3zA-unsplash_x7thfp.jpg"/></a>
      <h3>Gendarmenmarkt</h3>
      <p>Gendarmenmarkt in the Mitte district is arguably Berlin's most beautiful square. It is the site of three impressive buildings: The German and the French Cathedral and Schinkel's Konzerthaus.</p><br>
      <a href="https://www.berlin.de/en/attractions-and-sights/3560277-3104052-gendarmenmarkt.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3561166-3104052-kurfuerstendamm.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585745169/ricardo-gomez-angel-qSqcx-FGnQE-unsplash_bsibpl.jpg"/></a>
      <h3>Kurfürstendamm</h3>
      <p>You haven't seen Berlin if you haven't been to Kurfürstendamm. The world-famous boulevard in the west of the city, called "Kudamm", is not only a bustling promenade, but is also architecturally and culturally interesting.</p>
      <a href="https://www.berlin.de/en/attractions-and-sights/3561166-3104052-kurfuerstendamm.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.berlin.de/en/attractions-and-sights/3560965-3104052-reichstag.en.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585745376/alana-harris-9lNvfrRlWE8-unsplash_iwurnq.jpg"/></a>
      <h3>Reichstag</h3>
      <p>The Reichstag building with the famous glass dome is one of the most frequently visited sights in Berlin. It is seat of the German parliament, the Bundestag.</p><br><br>
      <a href="https://www.berlin.de/en/attractions-and-sights/3560965-3104052-reichstag.en.html"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>
</div> <br><br>
<br><br>
<div class="container-2">
  <div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.cologne.de/what-to-do/the-cologne-cathedral.html">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585745688/onur-k-iHMLPphhOoE-unsplash_qsrxgv.jpg"/></a>
      <h3> Cologne Cathedral </h3>
      <p>The Cathedral is still the second highest building in Cologne after the telecommunications tower. Its footprint is no less impressive, with the full length of the Cathedral measuring 145 m and the cross nave 86 m. In comparison, a football pitch is "only" around 100 by 70 m. The total area of the Cathedral measures almost 8000 square metres and has room for more than 20,000 people.</p>

      <a href="https://www.cologne.de/what-to-do/the-cologne-cathedral.html"><button class=" btn btn-primary">See more</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www.planetware.com/tourist-attractions/germany-d.htm">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585746044/germany-black-forest_bmxu5e.jpg"/></a>
      <h3>The Black Forest</h3>
      <p>The beautiful Black Forest with its dark, densely-wooded hills is one of the most visited upland regions in all of Europe. Situated in the southwestern corner of Germany and extending 160 kilometers from Pforzheim in the north to Waldshut on the High Rhine in the south, it's a hiker's heaven..</p><br><br>
      <a href="https://www.planetware.com/tourist-attractions/germany-d.htm"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.planetware.com/tourist-attractions/germany-d.htm">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585746149/germany-neuschwanstein-castle_akdtjn.jpg"/></a>
      <h3>The Ultimate Fairytale Castle: Neuschwanstein</h3>
      <p>The quaint old town of Füssen, situated between the Ammergau and Allgäu Alps and a popular alpine resort and winter sports center, is a good base from which to explore nearby Neuschwanstein Castle, one of Europe's most famous (and picturesque) royal castles.</p>
      <a href="https://www.planetware.com/tourist-attractions/germany-d.htm"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.planetware.com/tourist-attractions/germany-d.htm">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1585746372/hiki-liu-IPSI9HUhq6E-unsplash_rkvuld.jpg"/></a>
      <h3>Berlin's Museum Island</h3>
      <p>Berlin's world-famous Museumsinsel, or Museum Island, lies between the River Spree and the Kupfergraben - a 400-meter-long canal off the river - and includes many of the city's oldest and most important museums.</p><br><br><br>
      <a href="https://www.planetware.com/tourist-attractions/germany-d.htm"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>
</div> <br><br>

<div class="container-2">
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://www.planetware.com/tourist-attractions/germany-d.htm">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1587295422/anthony-kind-SnGySldG8uo-unsplash_m2xy8m.jpg"/></a>
      <h3> Königssee (King's Lake)</h3>
      <p>The lovely Bavarian lake of Königssee is one of the great beauty spots of the region of Germany referred to as Berchtesgadener Land. Also known as the King's Lake, this area near Salzburg is a hiking (and biking) paradise thanks to its vast network of trails.

One of the most popular things to do is follow the attractive footpath located along the east side of the Königssee to the Malerwinkel, or Painters' Corner, notable for its superb views over the lake and the surrounding mountains..</p><br>

      <a href="https://www.planetware.com/tourist-attractions/germany-d.htm"><button class=" btn btn-primary">See more</button></a>
    </div>
  </div>

  <div class="column">
    <div class="card"><a href="https://www.planetware.com/germany/best-places-to-visit-in-germany-d-1-13.htm">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1587295658/thomas-winkler-1R8mu5-Vtvg-unsplash_kbpsyr.jpg"/></a>
      <h3>Nuremberg</h3>
      <p>The attractive medieval Old Town area of Nuremberg (Nürnberg) today stands testament not just to the rich cultural traditions that have shaped Germany, but also to the country's modern ingenuity. After near total devastation during WW2, the vast majority of the city's famous medieval architecture - previously untouched for centuries - required rebuilding; and rather than bulldoze and erect less appealing modern structures, the decision was made to rebuild the city's old center exactly as it had been before the war.</p><br>
      <a href="https://www.planetware.com/germany/best-places-to-visit-in-germany-d-1-13.htm"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://burg-eltz.de/en/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1587295867/sander-lenaerts-g49YtNqQ_5w-unsplash_neolah.jpg"/></a>
      <h3>Eltz Castle, Wierscherm</h3>
      <p>You are cordially invited to Eltz Castle and Eltz Forest - welcome! We have been here for more than 850 years and are doing everything within our means to preserve our ancestral home. Experience the Middle Ages and nature in its purest form! We are proud of our fairy tale in stone and take pleasure in sharing it with you!.

</p><br><br><br><br><br><br>
      <a href="https://burg-eltz.de/en/"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

   <div class="column">
    <div class="card"><a href="https://www.olympiapark.de/en/olympiapark-munich/">
      <img src="https://res.cloudinary.com/duf8tsxnt/image/upload/v1587296416/tavis-beck-NRyHLgCPGDA-unsplash_ekt4yo.jpg"/></a>
      <h3>Olympiapark, München</h3>
      <p>The Olympiapark München (English: Olympic Park Munich) in Munich, Germany, is an Olympic Park which was constructed for the 1972 Summer Olympics.[1] Located in the Oberwiesenfeld neighborhood of Munich, the Park continues to serve as a venue for cultural, social, and religious events, such as events of worship. It includes a contemporary carillon. The Park is administered by Olympiapark München GmbH, a holding company fully owned by the state capital of Munich..</p><br>
      <a href="https://www.olympiapark.de/en/olympiapark-munich/"><button class=" btn btn-primary">See more</button></a>

    </div>
  </div>

</div> <br><br>
